.services .cards .card-line .card {
  padding: 0 20px;
  border: none;
}
.services .cards .card-line .card .card-wrapper {
  text-align: center;
}
.services .cards .card-line .card .card-wrapper .card-img img {
  height: 150px;
}
.services .cards .card-line .card .card-wrapper .card-title {
  font-size: 24px;
  line-height: 1.1;
  margin: 30px 0 10px;
}
.services .cards .card-line .card .card-wrapper .card-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
  .services .cards .card-line .card {
    width: 100%;
    padding: 20px 0;
  }
}
/* Clients */
.clients .wrapper .news-wrapper,
.clients .wrapper .content-wrapper {
  margin-top: 20px;
}
.clients .wrapper .news-wrapper .text,
.clients .wrapper .content-wrapper .text,
.clients .wrapper .news-wrapper .title,
.clients .wrapper .content-wrapper .title {
  text-align: justify;
}
.clients .wrapper .news .news-item {
  margin-bottom: 30px;
}
.clients .wrapper .news .news-item:last-child {
  margin-bottom: 0;
}
.clients .wrapper .news .news-item .date {
  color: var(--color-olive);
  font-weight: 500;
}
.clients .wrapper .news .news-item .news-item-btn {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-brown);
  transition: all 0.1s linear;
}
.clients .wrapper .news .news-item .news-item-btn:hover,
.clients .wrapper .news .news-item .news-item-btn:active {
  color: var(--color-darkbrown);
}
.clients .wrapper .content .content-wrapper .title {
  color: var(--color-olive);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.clients .wrapper .content .content-wrapper .inline-img.float-left {
  margin-right: 10px;
  margin-bottom: 1px;
}
@media screen and (max-width: 992px) {
  .clients .wrapper {
    display: flex;
    flex-direction: column-reverse !important;
    justify-content: center;
    align-items: flex-start;
  }
  .clients .wrapper div {
    margin-bottom: 20px;
  }
  .clients .wrapper div:first-child {
    margin-bottom: 0;
  }
}
