<section id="services" class="services ptb-xs-20 ptb-lg-30">
    <div class="container">
        <div class="cards flex-column flex-justify-center flex-align-center flex-wrap-none">
            <div class="card-line col-xs-inner-12 col-lg-inner-4 flex-xs-column flex-lg-row flex-justify-center flex-align-start flex-wrap-none">
                <div class="card">
                    <div class="card-wrapper flex-column flex-justify-center flex-align-center">
                        <div class="card-img"><img src="assets/img/cards/pears.png" alt=""></div>
                        <div class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                        <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, atque ab alias perspiciatis itaque pariatur non error dolor corrupti ducimus voluptatibus quod, porro, totam accusantium.</div>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="card-btn btn">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-wrapper flex-column flex-justify-center flex-align-center">
                        <div class="card-img"><img src="assets/img/cards/broccoli.png" alt=""></div>
                        <div class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                        <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni vel officia iusto, quibusdam laborum doloremque recusandae alias voluptatum. Soluta tempora, expedita aliquam consectetur accusamus dicta.</div>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="card-btn btn">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-wrapper flex-column flex-justify-center flex-align-center">
                        <div class="card-img"><img src="assets/img/cards/garnet.png" alt=""></div>
                        <div class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                        <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae fugiat, maiores cumque accusamus ex ullam nisi, laboriosam libero magnam cum quos explicabo est. Voluptate, voluptas!</div>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="card-btn btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-divider">
    <div class="container">
        <div class="divider"></div>
    </div>
</section>

<section id="clients" class="clients ptb-xs-20 ptb-lg-30">
    <div class="container">
        <div class="wrapper flex-row">
            <div class="news col-xs-12 col-lg-4 pr-xs-0 pr-lg-10">
                <h2 class="title">Latest News</h2>
                <div class="news-wrapper">
                    <div class="news-item">
                        <p class="date">20.10.2013</p>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti odio illum eaque sequi, harum totam eos, ducimus aliquam est quae aspernatur soluta aliquid temporibus illo ipsam doloribus quod velit reiciendis.</p>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="news-item-btn link">More info</a>
                    </div>
                    <div class="news-item">
                        <p class="date">20.10.2013</p>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti odio illum eaque sequi, harum totam eos, ducimus aliquam est quae aspernatur soluta aliquid temporibus illo ipsam doloribus quod velit reiciendis.</p>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="news-item-btn link">More info</a>
                    </div>
                </div>
            </div>
            <div class="content col-xs-12 col-lg-8 pl-xs-0 pl-lg-10">
                <h2 class="title">Welcome To Eco Company</h2>
                <div class="content-wrapper">
                    <img src="assets/img/news/landscape.jpg" class="inline-img float-left" alt="">
                    <p class="title mtb-xs-10 mt-md-0 mb-md-10">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde aut provident nostrum quam dignissimos nemo?</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quae id iusto eos dolorum impedit quasi quisquam explicabo? Tempora laboriosam vitae, non quis soluta velit saepe maiores, rerum eius praesentium blanditiis nisi iste.
                        Quia fugiat culpa deleniti saepe sint ex quibusdam odio quaerat eos voluptatibus sapiente soluta ipsam similique, alias aliquid, suscipit unde accusantium officiis. Debitis, cumque sunt. Consequuntur obcaecati aut unde nesciunt
                        reiciendis cupiditate. Ipsam sunt ducimus deleniti temporibus aut labore exercitationem esse quam! Animi velit repellat qui cupiditate sequi harum minima libero corrupti quae autem alias atque vel sapiente omnis, architecto aliquam,
                        tempore temporibus placeat aspernatur ducimus quod.</p>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="content-btn btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>